= form_tag :action => 'create' do
  %p
    %label{for: "students_level_id"}>Level
    = select_tag "level", options_from_collection_for_select(Level.all, "id", "level_number"), :include_blank => 'Please Select'
.students_list

%hr/
= link_to 'Back', {:action => 'list'}