#myCarousel.carousel.slide{"data-ride" => "carousel"}
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  / Wrapper for slides
  .carousel-inner
    .item
      =image_tag('1.jpeg')
    .item.active
      = image_tag('2.jpeg')
    .item
      = image_tag('3.jpeg')
  / Left and right controls
  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
    %span.glyphicon.glyphicon-chevron-left
    %span.sr-only Previous
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
    %span.glyphicon.glyphicon-chevron-right
    %span.sr-only Next
/ #carouselExampleFade.carousel.slide.carousel-fade{"data-ride" => "carousel"}
/   .carousel-inner
/     .carousel-item.active
/       %img.d-block.w-100{:alt => "First slide", :src => "1.jpeg"}/
/     .carousel-item
/       %img.d-block.w-100{:alt => "Second slide", :src => "2.jpeg"}/
/     .carousel-item
/       %img.d-block.w-100{:alt => "Third slide", :src => "3.jpeg"}/
/   %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleFade", :role => "button"}
/     %span.carousel-control-prev-icon{"aria-hidden" => "true"}
/     %span.sr-only Previous
/   %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleFade", :role => "button"}
/     %span.carousel-control-next-icon{"aria-hidden" => "true"}
/     %span.sr-only Next
