!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    :css
      .footer {
         position: fixed;
         left: 0;
         bottom: 0;
         width: 100%;
         background-color: blue;
         color: white;
         text-align: center;
      }
  %body
    .footer
      %p Footer