%ul.nav.nav-tabs
  %li.nav-item
    %a.nav-link.active
      = link_to('Student Detailes',  students_list_path)
  %li.nav-item
    %a.nav-link
      = link_to('Levels',  students_levels_path) 
  %li.nav-item
    %a.nav-link
      = link_to('Exams', new_exam_path)  
  %li.nav-item
    %a.nav-link
      = link_to('Marks', marks_path)        